<h1>POSTS#INDEX</h1><hr />


<p><%=link_to "new post", new_post_path %></p>

<table>
<tr>
	<th>title</th>
	<th>body</th>
	<th></th>
	<th></th>
</tr>


<% @posts.each do |post|%>
	<tr><td><%=post.title %></td>
		<td><%=post.body %></td>
		<td><%=link_to "show", post %></td>
		<td><%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %></td>
	</tr>
<% end %>
</tr>
</table>